@import '../../main.scss';


.Card{
    
    @include boxShadow;
    

    &:hover{
        @include boxShadowHover
    }

    img{
        width: 100%;
        max-height: 350px;
        margin: 0  auto;
        min-height: 350px;

        @include respond(tablet){
            
            max-height: 500px;
        }
    }
}

.center{
    background-position: center;
}

.none{
    box-shadow: none;
    &:hover{
        box-shadow: none;
    }
}